<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MoonCell Automaton</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">
      <div class="notification" style="background-color: aquamarine">
        <section class="hero is-info">
          <div class="hero-body">
            <div class="container">
              <h1 class="title">
                Wellcome to SE.RA.PH
              </h1>
              <h2 class="subtitle">
                Choose your compute engine
              </h2>
            </div>
          </div>
        </section>
      </div>

</head>

<body>
    <div class="columns" style="background-color: aquamarine">
        <div class="column">
            <div class="tile is-ancestor">
                <div class="tile is-parent">
                    <article class="tile is-child notification is-info">
                        <p class="title">Open MPI</p>
                        <p class="subtitle">Powered by Docker Swarm</p>
                        <figure class="image is-4by3">
                            <img src="images/dims.jpg">
                        </figure>
                    </article>
                </div>
            </div>
        <div class="field is-grouped is-grouped-centered">
            <div class="control">
                {% block main %}
                <form action="" method="post">
                   
                    <p>
                        {{form.submit()}}
                    </p>

                </form>
                
                {% endblock %}
            </div>
        </div>
        </div>
        <div class="column">
            <div class="tile is-ancestor">
                <div class="tile is-parent">
                    <article class="tile is-child notification is-info">
                        <p class="title">Placeholder</p>
                        <p class="subtitle">Powered by Kubernetes</p>
                        <figure class="image is-4by3">
                            <img src="https://bulma.io/images/placeholders/640x480.png">
                        </figure>
                    </article>
                </div>
            </div>
        <div class="field is-grouped is-grouped-centered">
            <div class="control">
                <button class="button is-link">Generate</button>
            </div>
        </div>
        </div>
    </div>

   
</body>

<footer class="footer ">
  <div class="content has-text-centered">
    <p>
      <strong>MoonCell Automaton</strong> by <a href="https://jgthms.com">Pedro Martins</a>. Source code on
      <a href="http://opensource.org/licenses/mit-license.php">GitHub</a>. Website powered by
      is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">IFF</a>.
    </p>
  </div>
</footer>
</html>